
.App {
    background-color: #282c34;
    height: 750px;
    width: 600px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  p {
    margin: 0;
    padding: 0;
  }

  /* .enemy {
    color: white;
    border: 1px solid red;
    width: 100%;
  } */

  /* .board {
    color: white;
    border: 1px solid red;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  } */

  .start-reset-button {
    width: 30%;
    height: 30px;
    align-self: center;
  }

  .win-message {
    color: white;
    align-self: center;
  }

  .damage-display-total__container {
    width: 100%;
  }

  .join-game-button {
    width: 50%;
    height: 75px;
    align-self: center;
  }

  .new-game-separator {
    height: 2px;
    width: 200%;
    border-bottom: 1px solid grey;
  }